@charset "utf-8";

/*
 * INDEX
 * 01 - HEADER
 * 02 - MAIN
 * 03 - VISUAL
 * 04 - INFO
 * 05 - SUBVISUAL
 * 06 - SUBVISUAL-02
 * 07 - STORE
 * 08 - THEME
 * 09 - FAQ
 * 10 - FOOTER
 */


/* ************************************** *
 * HEADER
 * ************************************** */  
header{
  width: 100%;  height: 60px;
  background: rgba(255, 255, 255, .2);
  line-height: 60px;
  text-align: center;
  position: absolute;
  z-index: 1;
}
header a{
  font-size: 20px;
  color: var(--White);
}

/* ************************************** *
 * MAIN
 * ************************************** */  
main{
  width: 100%;
  position: relative;
}

/* ************************************** *
 * VISUAL
 * ************************************** */  
#mainVisual{
  height: 690px;
  background: var(--Primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
  box-sizing: border-box;
}
#mainVisual .visual{
  width: 270px;
  gap: 35px;
}
#mainVisual .visual figure{
  width: 100%;
}
#mainVisual .visual figure img{
  width: 100%;
}
#mainVisual .visual figcaption{
  width: 90%;
  margin: auto;
}
#mainVisual .scroll{
  width: 130px;
  left: 0; right: 0; bottom: 30px;
}
#mainVisual .scroll .arr span{
  border-top: 8px solid var(--Secondary-red);
}

/* ************************************** *
 * EVENT
 * ************************************** */  
#event{
  padding: 60px 0 160px 0;
  background: var(--Primary);
}
#event::before{
  content: '';
  display: block;
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0; margin: auto;
  width: 100%; height: 100%;
  background: url(../img/news_bg.png) no-repeat center center;
  background-size: cover;
  border-radius: 40px 40px 0 0;
}
#event h2{
  width: 100%;
  display: flex;
  margin-bottom: 24px;
}
#event h2 img{
  width: 112px;
}
#event h2::before{
  width: 48px; height: 60px;
  margin: -4px 8px 0 0;
  background: url(../img/icon_notice.png) no-repeat center center;
  background-size: contain;
  display: block;
  content: '';
}
#event .slide_wrap{
  width: 280px; height: calc(280px + 44px);
  padding: 8px 8px 44px 8px;
  box-sizing: border-box;
  border: 1px solid var(--Black);
  background-color: #fff;
  position: relative;
  box-shadow: 7px 7px rgba(34, 102, 235, .5);
}
#event .swiper{
  width: 100%;
  height: 100%;
}
#event .swiper-wrapper{
  width: calc(100% * 5);
}
#event .swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#event .swiper-button-prev,
#event .swiper-button-next{
  z-index: 1;
  cursor: pointer;
}
#event .swiper-button-prev{
  left: -4px; top: 280px;
}
#event .swiper-button-prev img{
  width: 70px;
  position: absolute;
}
#event .swiper-button-next{
  right: 4px; top: 4px;
}
#event .swiper-button-next img{
  width: 70px;
  position: absolute;
}
#event .swiper-pagination {
  left: 0;  right: 0;  bottom: 24px;
}

/* ************************************** *
 * SUBVISUAL
 * ************************************** */  
#subVisual{
  padding: 120px 0 250px 0;
  color: var(--White);
  border-radius: 40px 40px 0 0;
  background: url(../img/subvisual_bg.png) no-repeat top center;
  background-size: cover;
}
#subVisual::before{
  width: 100%; height: 100%;
  border-radius: 40px 40px 0 0;
  background: var(--Black-opacity);
  top: 0;
  position: absolute;
  content: '';
}
#subVisual::after{
  content: '';
  display: block;
  width: 100%; height: 100%;
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0; margin: auto;
  background: url(../img/news_bg.png) no-repeat center center;
  background-size: cover;
  z-index: -10;
}
#subVisual .heart span{
  background: url(../img/heart_dot.png) no-repeat center center;
  background-size: contain;
  position: absolute;
  z-index: 1;
}
#subVisual .heart span:nth-child(1){
  width: 84px; height: 63px;
  right: 40px; top: 40px;
}
#subVisual .heart span:nth-child(2){
  width: 46px; height: 34px;
  left: 35px; top: 190px;
}
#subVisual h2, #subVisual p{
  text-align: center;
}
#subVisual h2{
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 1.1;
}
#subVisual p{
  margin-bottom: 40px;
  font-size: 14px;
}
#subVisual .sub-icon{
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
#subVisual .sub-icon li {
  width: calc((100% - 1%)/3);
}
#subVisual .sub-icon li figure{
  text-align: center;
}
#subVisual .sub-icon li figure img{
  width: 82px;
}
#subVisual .scroll{
  width: 180px;
  left: 0; right: 0; bottom: 30px;
}
#subVisual .scroll .arr span{
  border-top: 8px solid var(--White);
}

/* ************************************** *
 * SUBVISUAL-02
 * ************************************** */  
#subVisual02{
  padding-top: 100px;
  background: var(--Black);
  color: var(--White);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}
#subVisual02 h2 img{
  width: 180px;
  padding: 0 20px;
}
/* #subVisual02 .swiper{
  width: 100%;
  height: 480px;
} */
#subVisual02 .park{
  width: 100%;
  overflow-x: hidden;
}
#subVisual02 .park::before{
  content: '';
  display: block;
  position: absolute;
  width: 200px; height: 180px;
  top: 25px; right: 0;
  background: url(../img/brand_txt_deco.png) no-repeat;
  background-size: contain;
  background-position-x: 50px;
  background-position-y: center;
  z-index: 10;
}
#subVisual02 .swiper .txt-box{
  width: 232px; height: 272px;
  margin: auto;
  background: var(--Black-opacity);
  padding: 30px 20px;
  box-sizing: border-box;
  top: 0; bottom: 0; left: 20px;
  position: absolute;
}
#subVisual02 .swiper span{
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  display: block;
}
#subVisual02 .swiper p{
  margin-bottom: 32px;
  font-size: 14px;
}
#subVisual02 .swiper .btn{
  margin-bottom: 28px;
}
#subVisual02 .swiper-pagination {
  position: absolute;
  left: calc(-50% + 60px);
  bottom: 120px;
}
#subVisual02 .swiper .swiper-slide{
  width: 100%; height: 480px;
  position: relative;
}
#subVisual02 .park .swiper-slide:nth-child(1){
  background: url(../img/brand_playpark.jpg) no-repeat center center;
  background-size: cover;
}
#subVisual02 .park .swiper-slide:nth-child(2){
  background: url(../img/brand_sports.jpg) no-repeat center center;
  background-size: cover;
}
#subVisual02 .park .swiper-slide:nth-child(3){
  background: url(../img/brand_zoo.jpg) no-repeat center center;
  background-size: cover;
}
#subVisual02 .sports .swiper-slide:nth-child(1){
  background: url(../img/brand_sports.jpg) no-repeat center center;
  background-size: cover;
}
#subVisual02 .sports .swiper-slide:nth-child(2){
  background: url(../img/brand_zoo.jpg) no-repeat center center;
  background-size: cover;
}
#subVisual02 .sports .swiper-slide:nth-child(3){
  background: url(../img/brand_playpark.jpg) no-repeat center center;
  background-size: cover;
}
#subVisual02 .zoo .swiper-slide:nth-child(1){
  background: url(../img/brand_zoo.jpg) no-repeat center center;
  background-size: cover;
}
#subVisual02 .zoo .swiper-slide:nth-child(2){
  background: url(../img/brand_playpark.jpg) no-repeat center center;
  background-size: cover;
}
#subVisual02 .zoo .swiper-slide:nth-child(3){
  background: url(../img/brand_sports.jpg) no-repeat center center;
  background-size: cover;
}

/* ************************************** *
 * INFO
 * ************************************** */  
#info{
  padding: 68px 0 80px 0;
  background: var(--Black);
  color: var(--White);
}
#info .inner{
  padding: 0 0 0 20px;
}
#info h2{
  font-size: 44px;
  line-height: 1.1;
  margin-bottom: 16px;
}
#info p{margin-bottom: 28px;}
#info .swiper{
  width: 100%;
  height: 100%;
  /* transition-timing-function: linear; */
}
#info .swiper-slide{
  width: 260px;
  height: 470px;
  background: #2E2E2E;
  border-radius: 12px;
}

/* 타이틀 */
#info .tit-mask{
  border-radius: 20px;
  width: 160px; height: 160px;
  overflow: hidden;
  left: 0; right: 0; top: 52px;
  margin: auto;
  position: absolute;
}
#info .tit{
  width: 220px; height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -35px; right: 0; top: 0; bottom: 0;
  margin: auto;
  position: absolute;
  opacity: .2;
}
/* 타이틀 모양 (정사각, 동그라미, 직사각) */
#info .swiper-slide:nth-child(1) .tit-mask,
#info .swiper-slide:nth-child(5) .tit-mask,
#info .swiper-slide:nth-child(9) .tit-mask{
  width: 150px; height: 150px;
  transform: rotate(45deg);
  background: var(--Secondary-violet);
}
#info .swiper-slide:nth-child(1) .name,
#info .swiper-slide:nth-child(5) .name,
#info .swiper-slide:nth-child(9) .name{
  color: var(--Secondary-violet);
}
#info .swiper-slide:nth-child(1) .tit,
#info .swiper-slide:nth-child(5) .tit,
#info .swiper-slide:nth-child(9) .tit{
  transform: rotate(-45deg);
}
#info .swiper-slide:nth-child(2) .tit-mask,
#info .swiper-slide:nth-child(6) .tit-mask,
#info .swiper-slide:nth-child(10) .tit-mask{
  width: 160px; height: 160px;
  background: var(--Secondary-blue);
  left: 0; right: 0; top: 45px;
}
#info .swiper-slide:nth-child(2) .name,
#info .swiper-slide:nth-child(6) .name,
#info .swiper-slide:nth-child(10) .name{
  color: var(--Secondary-blue);
}
#info .swiper-slide:nth-child(3) .tit-mask,
#info .swiper-slide:nth-child(7) .tit-mask,
#info .swiper-slide:nth-child(11) .tit-mask{
  width: 175px; height: 175px;
  background: var(--Secondary-pink);
  border-radius: 100%;
  left: 0; right: 0; top: 38px;
}
#info .swiper-slide:nth-child(3) .name,
#info .swiper-slide:nth-child(7) .name,
#info .swiper-slide:nth-child(11) .name{
  color: var(--Secondary-pink);
}
#info .swiper-slide:nth-child(4) .tit-mask,
#info .swiper-slide:nth-child(8) .tit-mask,
#info .swiper-slide:nth-child(12) .tit-mask{
  position: relative;
  overflow: visible;
	background: #94cb66;
	text-align: left;
}
#info .swiper-slide:nth-child(4) .name,
#info .swiper-slide:nth-child(8) .name,
#info .swiper-slide:nth-child(12) .name{
  color: #94cb66;
}
#info .swiper-slide:nth-child(4) .tit-mask:before,
#info .swiper-slide:nth-child(4) .tit-mask::after,
#info .swiper-slide:nth-child(8) .tit-mask::before,
#info .swiper-slide:nth-child(8) .tit-mask::after,
#info .swiper-slide:nth-child(12) .tit-mask::before,
#info .swiper-slide:nth-child(12) .tit-mask::after{
	content: '';
	position: absolute;
	background-color: inherit;
}
#info .swiper-slide:nth-child(4) .tit-mask,
#info .swiper-slide:nth-child(4) .tit-mask:before,
#info .swiper-slide:nth-child(4) .tit-mask::after,
#info .swiper-slide:nth-child(8) .tit-mask,
#info .swiper-slide:nth-child(8) .tit-mask::before,
#info .swiper-slide:nth-child(8) .tit-mask::after,
#info .swiper-slide:nth-child(12) .tit-mask,
#info .swiper-slide:nth-child(12) .tit-mask::before,
#info .swiper-slide:nth-child(12) .tit-mask::after{
	width: 100px;
	height: 100px;
	border-top-right-radius: 20px;
}
#info .swiper-slide:nth-child(4) .tit-mask,
#info .swiper-slide:nth-child(8) .tit-mask,
#info .swiper-slide:nth-child(12) .tit-mask{
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
#info .swiper-slide:nth-child(4) .tit-mask:before,
#info .swiper-slide:nth-child(8) .tit-mask::before,
#info .swiper-slide:nth-child(12) .tit-mask::before{
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
#info .swiper-slide:nth-child(4) .tit-mask::after,
#info .swiper-slide:nth-child(8) .tit-mask::after,
#info .swiper-slide:nth-child(12) .tit-mask::after{
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}
/* 매장정보 */
#info .info{
  padding: 0 20px 24px 20px;
  width: 100%;
  height: 220px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#info .txt-wrap{
  margin-bottom: 20px;
}
#info .txt-wrap .bold{
  margin-right: 8px;
}
#info .txt-wrap .name{
  margin-bottom: 12px;
  font-size: 18px;
}
#info .txt-wrap li{
  display: flex;
  margin-bottom: 4px;
  font-size: 12px;
  color: var(--White);
}
#info .button-wrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#info .button-wrap button{
  font-size: 14px;
  width: calc(50% - 4px); height: 44px;
}
#info .swiper-pagination{
  left: 0;  right: 0;  bottom: -35px;
}
/* ************************************** *
 * SUBVISUAL-03
 * ************************************** */  
#subVisual03{
  padding: 20px 0 90px 0;
  background: var(--Black);
}
#subVisual03 h2{
  width: 160px;
  margin-bottom: 20px;
}
#subVisual03 .swiper{
  width: 100%;
  height: 100%;
}

#subVisual03 .swiper-slide{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#subVisual03 a{
  padding: 30px 20px 20px 20px;
  box-sizing: border-box;
  color: var(--White);
  border-radius: 20px;
  display: block;
}
#subVisual03 .con1,.con2{
  display: flex;
  gap: 8px;
}
#subVisual03 .con1-01,#subVisual03 .con1-02,#subVisual03 .con2-01,#subVisual03 .con2-02{
  position: relative;
}
#subVisual03 .con1-01{width: 56%; height: 210px; background: var(--Secondary-violet);}
#subVisual03 .con1-02{width: 40%; height: 210px; background: var(--Secondary-pink);}
#subVisual03 .con2-01{width: 42%; height: 140px; background: var(--Primary);}
#subVisual03 .con2-02{width: 54%; height: 140px; background: var(--Secondary-blue);}
#subVisual03 .con1-01:before{background: url(../img/brand_playpark.jpg);}
#subVisual03 .con1-02:before{background: url(../img/brand_sports.jpg);}
#subVisual03 .con2-01:before{background: url(../img/brand_zoo.jpg);}
#subVisual03 .con2-02:before{background: url(../img/subvisual_bg.png);}
#subVisual03 .con1-01::before,#subVisual03 .con1-02::before,
#subVisual03 .con2-01::before,#subVisual03 .con2-02::before{
  width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  left: 0; top: 0;
  position: absolute;
  display: block;
  content: '';
}
#subVisual03 .swiper{
  width: 100%;
}
#subVisual03 .swiper-pagination{
  left: 0;  right: 0;  bottom: -35px;
}

/* ************************************** *
 * FAQ
 * ************************************** */
#faq .inner{
  padding: 80px 0 50px 0;
}
#faq h2{
  margin-bottom: 12px;
  font-size: 54px;
}
#faq h2 span:nth-child(1){
  color: var(--Primary);
}
#faq .list{
  width: calc(100% - 40px);
  border-radius: 8px;
  background: var(--Gray-06);
}
#faq .dep1{
  padding: 10px 15px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--Gray-05);
}
/* Q질문 타이틀 */
#faq .q{
  width: 100%;
  font-size: 16px;
  display: flex;
  align-items: start;
  position: relative;
}
#faq .q .ex-bold{
  color: var(--Primary);
  font-size: 26px;
  margin-right: 8px;
}
#faq .q-txt{
  width: 70%;
  margin-top: 8px;
}
#faq .close-ico{
  width: 28px; height: 28px;
  margin: 5px;
  background: var(--Primary);
  border-radius: 100%;
  right: 0;
  position: absolute;
}
#faq .close-ico span{
  width: 16px; height: 2px;
  background: var(--White);
  border-radius: 100%;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;
  position: absolute;
}
#faq .close-ico span:nth-child(2){
  transform: rotate(-90deg);
}
#faq .dep1:hover .close-ico span:nth-child(1){
  transform: rotate(45deg);
}
#faq .dep1:hover .close-ico span:nth-child(2){
  transform: rotate(-45deg);
}

/* A대답 */
#faq .a-wrap{
  margin: 12px 0 12px;
  background: var(--White);
  border-radius: 8px;
  padding: 10px 12px;
  display: none;
}
#faq .dep1:hover .a-wrap{
  display: block;
}
#faq .a{
  display: flex;
}
#faq .a .bold{
  font-size: 18px;
}
#faq .a span{
  margin-right: 8px;
  font-size: 14px;
  color: var(--Primary);
}
#faq .a p{
  margin-top: 4px;
}
/* ************************************** *
 * FOOTER
 * ************************************** */  
footer{
  color: var(--White);
}
footer .contact{
  width: 100%;
  padding: 60px 0;
  background: var(--Primary);
  font-size: 1.25rem;
  /* display: flex; flex-direction: column; justify-content: center; */
  position: relative;
}
footer .contact::before{
  width: 100%; height: 100%;
  top: 0;
  background: url(../img/subvisual_bg.png) no-repeat center;
  background-size: cover;
  /* background-attachment: fixed; */
  opacity: .17;
  position: absolute;
  display: block;
  content: '';
}
footer .contact ul li{margin-bottom: 8px; font-size: 16px;}
footer .contact .bold{font-size: 22px;}
footer .info{
  padding: 50px 0 40px 0; 
  background: var(--Gray-01);
  font-size: 14px;
  line-height: 1.6;
}
footer .info li{display: flex;}
footer .info .bold{margin-right: 8px;}
footer .copy{margin-top: 28px; font-size: 12px;} 